<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $.get("https://arcane-depths-35133.herokuapp.com", function(data) {
    var image = document.getElementById("dialog-message");
    image.innerHTML =
      '<input type="image" id="captchaImage" src="' +
      data.img +
      '" onclick="answer(event)" width="400px"></img>';
    return (dataId = data.id);
  });

  function answer(event) {
    event.preventDefault();
    var image = document.getElementById("dialog-message");
    var params =
      "id=" +
      dataId +
      "&x=" +
      (event.clientX - image.offsetLeft) +
      "&y=" +
      (event.clientY - image.offsetTop);
    console.log(params);
    $.post("https://arcane-depths-35133.herokuapp.com/answer?" + params, function(
      response
    ) {
      alert(response);
    });
  }

  var captchup = function() {
    $(function() {
      $("#captchup").dialog({
        modal: false,
        width: "auto",
        closeOnEscape: false,
        resizable: false,
        Height: 700,
        Width: 700,
        position: { my: "center", at: "center", of: window }
      });
    });
  };

  captchup();

</script>
</body>
</html>
