<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<p>ok</p>

<p id="captchaImage"></p>
<script>
   $.get( "https://arcane-depths-35133.herokuapp.com", function( data ) {
    var image = document.getElementById('captchaImage');
    image.innerHTML = '<input type="image" src="' + data.img + '" onclick="answer(event)"></img>';
    return dataId = data.id;
  });
  function answer(event){
    event.preventDefault();
    var params = 'id=' + dataId + '&x=' + event.clientX + '&y=' + event.clientY
    var newparams = { name: 'peter'}
    $.post("https://arcane-depths-35113.herokuapp.com/answer", newparams, function(response) {
      alert(response);
    })
  }
</script>
</body>
</html>
